.t1 {
  font-size: 13;
  font-weight: bold;
}
.t2 {
  font-size: 11;
  font-weight: bold;
}
.n {
  font-size: 9;
}
.m {
  font-size: 11;
}
.g {
  font-size: 15;
}
.chapter {
  font-size: 13;
  font-weight: bold;
  text-align: left;
}
