.s {
  font-size: 12;
  color: #453B29;
  text-align: center;
}
.n {
  font-size: 35;
  color: #453B29;
  text-align: center;
}
.m {
  font-size: 40;
  color: #453B29;
  text-align: center;
}
.g {
  font-size: 45;
  color: #453B29;
  text-align: center;
}